@page
@model SignalRAssignment.Pages.Payment.IndexModel
@{
}
<meta http-equiv="refresh" content="5; url=https://localhost:5001" />
<h1>Fake Payment</h1>
<h1>Check out succesfully this page will be redirect in 5 second</h1>
